# Servidor
PORT=3000
NODE_ENV=development
DATABASE_URL=tu_url_de_railway

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=swap_coin_db
DB_PASSWORD=tu_contraseña_aqui
DB_PORT=5432

# Autenticación (JWT)
JWT_SECRET=tu_jwt_secret_aqui

# Exchange-Rate API
EXCHANGE_API_KEY=tu_token_aqui

# Gemini API
GEMINI_API_KEY=tu_api_key_aqui

# AWS SES
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=tu_llave_de_acceso_aqui
AWS_SECRET_ACCESS_KEY=tu_llave_secreta_aqui
SES_FROM_EMAIL=noreply@tudominio.com