# Servidor
PORT=3000
NODE_ENV=development
DATABASE_URL=tu_url_de_railway

# Base de Datos (PostgreSQL)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=swap_coin_db
DB_PASSWORD=tu_contraseña_aqui
DB_PORT=5432

# Autenticación (JWT)
JWT_SECRET=tu_jwt_secret_aqui
